#root {
    height: 100vh;
    width: 100vw;
 
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
-webkit-appearance: none ;
margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}