html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
 
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
-webkit-appearance: none ;
margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}